[submodule "Projects/ExoMind/ExoBuffer/ExoBuffer-Connector"]
	path = Projects/exobuffer-connector
	url = https://github.com/exomind-team/ExoBuffer-Connector
	branch = main
[submodule "Projects/obsidian-exomind-timer"]
	path = Projects/obsidian-exomind-timer
	url = https://github.com/exomind-team/obsidian-exomind-timer.git
